<h3>{{ listname() }}</h3>
  <ul>
      @for (cha of characters(); track cha.id; let idx = $index) {
        @if (cha.power > 500) {
          <li>
            <span>{{ idx + 1 }}. {{ cha.name }}</span> - Power:
            <strong
            [class.text-danger]="cha.power > 9000"
            [class.text-primary]="cha.power < 9000"><!-- [ngClass]="powerClasses()" -->
            {{ cha.power }}</strong>
          </li>
        } @else {
          <li><strong>Aqui no hay nadie</strong></li>
        }
      }
    </ul>
